In [2]:
## Import the package
import numpy as np
import pandas as pd
import pandas_profiling
import matplotlib.pyplot as plt
import plotly as py
import plotly.graph_objs as go
import seaborn as sns 
from sklearn import linear_model
from sklearn.cluster import KMeans
import statsmodels.api as sm
import matplotlib.pyplot as plt
import warnings
import os
warnings.filterwarnings("ignore")
py.offline.init_notebook_mode(connected = True)

In [3]:
#Spliting the columns with a delimiter 
geo = pd.read_csv('cells_geo.csv', delimiter = ';')
geo.head()

,Unnamed: 0,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
0,0,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,fbb2e75af3,0bb492ef17
1,1,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,1502501d78,0bb492ef17
2,2,ADJAME,In Service,ABIDJAN,"""Abidjan_EST",AGBANNEW,-4.000667,5.368194,LAGUNE,NaN,0c2e182a0c,0bb492ef17
3,3,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,69bdfc69fd,8a1e6ce31f
4,4,ASSINIE,In Service,INTERIEUR,Grand-EST,"ASSINIE""",-3.488467,5.158761,SUD COMOE,NaN,7a1029d2ab,8a1e6ce31f

In [ ]:
#DESCRIBING THE DATASET
geo.info()

In [ ]:
city = geo["VILLES"].value_counts()
city

In [ ]:
#EDA with pandas profiling for our geo dataset
pandas_profiling.ProfileReport(geo)

In [ ]:
#Running Unique values on prominent columns for our analysis
geo.VILLES.unique()

In [11]:
# How many regions under localization are there in the dataset
# 
local=geo['REGION'].groupby(geo['LOCALISATION'])
local.count()

LOCALISATION
ABIDJAN      1669
INTERIEUR    2305
Name: REGION, dtype: int64

In [ ]:
%matplotlib inline
geo['LONGITUDE'].plot()

In [ ]:
#IMPORTING DAY 1 DATASETS 
day1 = pd.read_csv('MoringaSchool_CB_CDR_20120507.csv')
day1.head(3)

In [ ]:
#IMPORTING DAY 2 DATASETS 
day2 = pd.read_csv('MoringaSchool_CB_CDR_20120508.csv')
day2.head(3)

In [ ]:
#IMPORTING THE 3 DAYS DATASETS 
day3 = pd.read_csv('MoringaSchool_CB_CDR_20120509.csv')
day3.head(3)

In [ ]:
#data info FOR THE 3 days datasets 
day1.info()
day2.info()
day3.info()

In [ ]:
#renaming columns to be uniform in all datasets 
day1.rename(index=str, columns={"PRODUTC": "PRODUCT","DATETIME": "DATE_TIME"})

In [ ]:
#renaming columns to be uniform in all datasets 
day2.rename(index=str, columns={"CELLID": "CELL_ID"})

In [ ]:
#renaming columns to be uniform in all datasets 
day3.rename(index=str, columns={"CELLID": "CELL_ID", "SIET_ID": "SITE_ID"})

In [ ]:
#combining the datasets for uniform analysis
df=pd.concat([day1, day2, day3], ignore_index=True)
df.head()

In [ ]:
#DATA CLEANING - Dropping unnecesarry variables 
df.drop(['DW_A_NUMBER_INT','DW_B_NUMBER_INT','CELL_ON_SITE','COUNTRY_A','COUNTRY_B'],inplace=True)
df.head()

In [ ]:
# DATA CLEANING - Drop rows where all cells in that row is NA
#CHECKING IIF DATASET HAS ANY NULL VALUES 
df.isnull().values.any()

In [ ]:
# find out the number of missing values
df.isnull().sum()

In [ ]:
#dropping all rows with null values for easy analysis 
df.dropna(how='all')

In [ ]:
#spliting the datetime column in our dataset
from datetime import datetime
from datetime import time 
df[['DATE','TIME']] = df.DATETIME.str.split(expand=True)
df.head()

In [ ]:
#Grouping values by products to get mean values of the our products 
prod_val_mean = df['VALUE'].groupby(df['PRODUCT'])
prod_val_mean.mean()

In [ ]:
#Creating a pivot table of Value and Product with std deviation in mind 
df.pivot_table(index=['PRODUCT','VALUE'], aggfunc='std')

In [ ]:
#finding the correlation in dataset 
df.corr()